.right-info {
  padding: 7rem;

  &__data {
    display: flex;
    margin-bottom: 2rem;
    .icon {
      font-size: 3rem;
      margin-top: .5rem;
    }
  }

  .data-container {
    display: flex;
    flex-direction: column;
    padding: 1rem .5rem;

    &__header {
      font-size: 1.5rem;
      margin-bottom: 1rem;
    }

    &__value {
      font-size: 3rem;
    }
  }
}
